header{
    background-image: url(/src/assets/imagens/imc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 40%;
    margin-top: 20px;
    background-color: #00b894;
    padding-top:100px;
    padding-bottom:0;
}

.headerContainer,
.containerHeader{
    display: flex;
    padding: 20px 20px;
    margin: 0 auto;
}

.headerContainer p{
    padding: 16px 60px;
    text-align: justify;
    border-top: 2px solid #00b89368 ;
    border-bottom: 2px solid #00b89368;
}

a{
    color: #00b894;
    text-decoration: none;
    font-size: small;

}
 a:hover{
    color: #00b8936f;
 }
